@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #fff;
    font-family: "Radio Canada", sans-serif;
  }

  .bg-drawer {
    background: #121212;
  }
  .bg-button {
    background: #2b2b2b;
  }
  .hight-card {
    height: 580px;
  }
  .txt-size {
    font-size: 100%;
  }
}
.Bg-img {
  background-image: url("./Assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
